@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-stone-950 text-white;
  }

  a {
    @apply hover:underline underline-offset-4 hover:brightness-90 transition-all duration-200 hover:cursor-pointer;
  }

  ul {
    @apply list-none flex;
  }
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

html pre, html code {
  font-family: 'JetBrains Mono', monospace;
}

/* blog post styles */
.prose ul {
  @apply flex flex-col space-y-1 list-disc ml-6;
}

.prose table {
  @apply border border-stone-600 bg-neutral-900 text-base my-6;

  display: block;
  overflow-x: auto;
  max-width: fit-content;
  white-space: nowrap;
}

.prose table thead {
  @apply border-b border-stone-600 bg-neutral-800;
}

.prose table td, .prose table th {
  @apply p-2;
}

.prose p + p {
  @apply mt-6;
}

.prose .anchor {
  @apply no-underline text-2xl font-bold relative;

  max-width: 80%;
  line-height: 6rem;
}

.anchor:hover {
  @apply visible;
}

.prose .anchor:before {
  @apply text-neutral-300 dark:text-neutral-700 invisible hover:visible;
  content: '#';
  margin-left: -1em;
  padding-right: 0.5em;
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 hover:decoration-neutral-500 dark:decoration-neutral-600 underline-offset-2 hover:dark:decoration-neutral-500 decoration-[0.1em];
}

.prose pre {
  @apply border border-neutral-800 bg-neutral-900;
}

.prose code {
  @apply px-1 py-0.5 border border-stone-600 rounded-sm bg-neutral-900 text-base;
}

.prose pre code {
  @apply p-0 bg-transparent;
  border: initial;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-stone-300;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

pre.astro-code {
  @apply px-6 py-4 rounded-sm my-6 text-base border border-stone-600 !bg-neutral-900;
}