---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import type { RepositoryInformation } from './api/contributions.json'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
let contributions: RepositoryInformation[] = [];

const response = await fetch(Astro.url.origin + '/api/contributions.json');
if (response.ok) {
  const { contributions: contributionsParsed } = await response.json();
  contributions = contributionsParsed;
}
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="mb-12 max-w-3xl mx-auto px-2 sm:px-4">
      <h1 class="text-3xl font-bold mb-8 mt-8">
        Projects!
      </h1>
      <ul class="grid grid-cols-1 mt-4 sm:grid-cols-2 gap-4">
        {contributions.length && contributions.sort((a, b) => b.stargazers_count - a.stargazers_count)
          .filter(contribution => contribution.stargazers_count >= 0)
          .map(contribution => (
            <li>
              <Card
                contribution={contribution}
              />
            </li>
          ))}
      </ul>
    </main>
  </body>
  <Footer/>
</html>