---
import { FaCommentAlt } from 'react-icons/fa';

import { GET_COMMENT_STRING } from '../consts';

const { postUrl } = Astro.props;

const twitterLink = 'https://twitter.com/intent/tweet?text=';
const blueskyLink = '' // they don't have a share link yet

const linksArray = [
  {
    social: 'twitter',
    link: twitterLink,
    username: '@datsfilipe1'
  },
];
---
<div class="flex items-center space-x-2 py-8">
  <FaCommentAlt />
  <span>comment on {linksArray.map((item, i) => (
      <span>
        <a class="text-blue-500" href={item.link + GET_COMMENT_STRING(item.username, postUrl)} target="_blank" rel="noopener noreferrer">
          {item.social}
        </a>
        {i < linksArray.length - 1 ? '/' : ''}
      </span>
  ))}
</div>