---
import HeaderLink from './HeaderLink.astro';
import HeaderWrapper from './HeaderWrapper.astro';
import { FaGithub } from 'react-icons/fa';

const { title } = Astro.props;
---
<header class="flex items-center justify-between py-4 max-w-3xl mx-auto px-4">
  <h1 class="text-2xl font-bold">
    <a href="/" class="hover:no-underline">{title}</a>
  </h1>
  <nav>
    <HeaderWrapper>
      <ul class="flex-col sm:flex-row sm:items-center justify-between sm:space-x-2 space-x-0 space-y-2 sm:space-y-0 mr-4 sm:mr-0">
        <li>
          <HeaderLink href="/projects" class="font-medium p-2 data-[active]:bg-blue-600 hover:underline">
            Projects
          </HeaderLink>
        </li>
        <li>
          <HeaderLink href="/blog" class="font-medium p-2 data-[active]:bg-blue-600">
            Blog
          </HeaderLink>
        </li>
        <li>
          <HeaderLink href="/brain" class="font-medium p-2 data-[active]:bg-blue-600">
            Brain
          </HeaderLink>
        </li>
        <li>
          <a
            href="https://github.com/datsfilipe/datsfilipe.dev"
            class="font-medium p-2 flex items-center space-x-2"
            target="_blank"
            rel="noopener noreferrer"
          >
            <FaGithub size={18} />
            <span>Source</span>
          </a>
        </li>
      </ul>
    </HeaderWrapper>
  </nav>
</header>