---
import {
  FaHeart,
} from 'react-icons/fa';
import { CgFileDocument } from 'react-icons/cg';
import { GiCoffeeCup } from 'react-icons/gi';

import {
  OTHER_LINKS
} from '../consts';
---
<ul class="flex flex-col w-fit">
  {OTHER_LINKS.map(item => (
    <li transition:animate="slide">
      <a
        href={item.link}
        class:list={["flex items-center space-x-2 text-lg font-bold mb-4 w-full py-2 px-4 hover:no-underline", {
          "bg-green-700 text-white": item.name.toLowerCase().includes('curriculum'),
          "bg-red-600 text-white": item.name.toLowerCase().includes('sponsor'),
          "bg-pink-600 text-white": item.name.toLowerCase().includes('coffee'),
        }]}
        target="_blank"
        rel="noopener noreferrer"
      >
        {item.name.toLowerCase().includes('curriculum')
          ? <CgFileDocument size={24} />
          : item.name.toLowerCase().includes('coffee')
            ? <GiCoffeeCup size={24} />
            : <FaHeart size={24} />
        }
        <span>{item.name}</span>
      </a>
    </li>
  ))}
</ul>