---
const { title } = Astro.props;
---
<a href={`#${title}`} class="flex items-center justify-center w-full h-full py-8" id={title}>
  <span class="w-full h-[1px] bg-stone-700" />
  <h2 class="w-fit px-6 text-xl font-medium flex-wrap sm:whitespace-nowrap">
    {title}
  </h2>
  <span class="w-full h-[1px] bg-stone-700" />
</a>