---
import TreeRoot from './TreeView';
import Searchbox from './Searchbox';
import SidebarWrapper from './SidebarWrapper.astro';

import { getCollection } from 'astro:content';

const { pathname } = Astro.url;

const notes = (await getCollection('brain')).filter(note => note.slug !== 'readme')
const entries = notes.map(note => {
  return {
    slug: note.slug,
    title: note.data.title
  }
})
---
<SidebarWrapper>
  <div class="lg:max-w-[18rem] md:max-w-[15rem] sm:max-w-[12rem] max-w-none w-60">
    <Searchbox
      client:load
      entries={entries}
    />
    <TreeRoot
      client:load
      notes={notes}
      pathname={pathname}
    />
  </div>
</SidebarWrapper>