---
import Dropdown from './Dropdown';
---
<aside class="lg:mr-8 flex-shrink-0 py-2 lg:py-0">
  <div class="lg:block hidden">
    <slot/>
  </div>
  <div class="lg:hidden block">
    <Dropdown
      client:idle
      icon="FaTree"
    >
      <slot/>
    </Dropdown>
  </div>
</aside>