---
import {
  FaGithub,
  FaTwitter,
  FaLinkedinIn,
  FaRedditAlien,
  FaYoutube,
  FaEnvelope,
  FaTiktok,
} from 'react-icons/fa';

const icons = [ FaGithub, FaTwitter, FaLinkedinIn, FaRedditAlien, FaYoutube, FaTiktok ];
import {
  SOCIAL,
} from '../consts';
---
<ul class="sm:flex-col flex-row flex-wrap sm:flex-nowrap px-4 sm:px-0 mb-4 sm:mb-0 justify-center sm:justify-normal">
  {SOCIAL.map(item => (
    <li
      class="flex items-center space-x-2 space-y-2 mr-2 sm:mr-0"
      transition:animate="slide"
    >
      <span>~</span>
      <span class:list={["p-1 rounded-md", {
        "bg-blue-800": item.name.toLowerCase().includes('email'),
        "bg-gray-700": item.name.toLowerCase().includes('github'),
        "bg-blue-400": item.name.toLowerCase().includes('twitter'),
        "bg-blue-600": item.name.toLowerCase().includes('linkedin'),
        "bg-orange-700": item.name.toLowerCase().includes('reddit'),
        "bg-red-700": item.name.toLowerCase().includes('youtube'),
        "bg-stone-800": item.name.toLowerCase().includes('tiktok'),
      }]}>
        {item.name.toLowerCase() === 'email'
          ? <FaEnvelope size={18} />
          : icons.map((Icon) => (
            Icon.name.toLowerCase().includes(item.name.toLowerCase())) ? <Icon size={18} /> : null
        )}
      </span>
      <a
        href={item.link}
        class="flex items-center space-x-1"
        target="_blank"
        rel="noopener noreferrer"
        aria-label={item.name}
        title={item.name}
      >
        <span>{item.name}</span>
      </a>
    </li>
  ))}
</ul>