---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Sidebar from '../components/Sidebar.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title } = Astro.props;
---
<html lang="en">
	<head>
		<BaseHead title={title} description={SITE_DESCRIPTION} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous"
    >
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="flex lg:flex-row flex-col mb-12 max-w-3xl lg:max-w-fit mx-auto px-4 min-h-[80vh] sm:my-8 my-4">
      <Sidebar/>
      <section class="flex flex-col space-y-2">
        <h1 class="text-4xl font-bold bg-blue-600 px-4 py-2 mb-6" transition:animate="slide">
          {title}
        </h1>
        <article class="prose xl:prose-lg prose-quoteless prose-neutral dark:prose-invert prose-p:text-justify mb-8">
          <slot />
        </article>
      </section>
		</main>
		<Footer/>
	</body>
</html>